#root{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar{
  width: 100%;
  margin-bottom: 50px;
}

#navbar h4{
  display: inline-block;
  margin-left: 10px;
  color: rgb(39, 171, 171);
}

#current-weather-card{
  display: flex;
  justify-content: center;
}

input[type=text] {
  width: 85%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 255, 0.347);
  border-radius: 4px;
}

button{
  padding: 12px 20px;
}

.btn{
  border-radius: 4px;
  box-sizing: border-box; 
  padding: 9px 20px;
  margin: 20px;
}
