#root{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 255, 0.347);
  border-radius: 4px;
}

button{
  padding: 12px 20px;

}

.btn{
  border-radius: 4px;
  box-sizing: border-box; 
  padding: 9px 20px;
  margin: 20px;
}